.sc-wrapper {
  position: absolute;
  display: flex;
  z-index: 10;
  margin: 30px 20px;
}

.sc-item {
  background-color: var(--dark-grey);
  margin-right: 5px;
}

.sc-item--box {
  width: 200px;
  transition: 0.5s;
  overflow: hidden;
}

.sc-item--box.hidden {
  width: 0;
}

.sc-item--arrow {
  background-color: var(--light-grey);
  color: var(--dark-grey);
  height: 20px;
  width: 16px;
  text-align: center;
  padding: 0 2px;
  font-size: 22px;
  opacity: 0.8;
  position: relative;
}

.sc-item--arrow:hover {
  opacity: 1;
  transition: 0.5s;
}

.sc-item--arrow span {
  position: absolute;
  top: -25%;
  right: 12.5%;
}
