.sc-db-slider {
  width: 100%;
  padding: 5px 10px;
}

.sc-db-slider__row2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sc-db-slider__row2--value {
  border-radius: 3px;
  text-align: center;
  width: 40px;
  margin-left: 5px;
  opacity: 0.8;
}

.sc-db-slider:hover .sc-db-popUp {
  display: block;
}

.sc-db-popUp {
  display: none;
  position: absolute;
  transform: translate(240px, -50px);
  white-space: normal;
  max-width: 150px;
  padding: 5px;
  background-color: var(--mid-grey);
  border-radius: 3px;
  font-size: 10px;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  background: #6a7385;
  height: 6px;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  /* height: 1.2em; */
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  height: 12px;
  width: 10px;
  cursor: pointer;
  -webkit-appearance: none;
  background: #d3d8d6;
}

input[type="range"]:focus {
  outline: none;
}
