.st {
  background-color: var(--dark-grey);
  color: var(--light-grey);
  position: absolute;
  z-index: 1;
  pointer-events: none;
  padding: 15px 10px;
  font-size: 12px;
}

.st-item {
  padding: 3px;
}

.st-item--title {
  display: flex;
  align-items: start;
}

.st-item--station {
  font-size: 14px;
  white-space: nowrap;
  border-bottom: 0.5px solid var(--tt-grey);
  padding-bottom: 5px;
}

.st-item--stats {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid var(--tt-grey);
  margin-bottom: 5px;
}

.st-item__statsRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 1px;
}

.st-item__statsRow--time {
  background-color: var(--mid-grey);
  min-width: 60px;
  padding: 2px;
  border-radius: 2px;
}

.st-item__statsRow--st {
  padding-left: 5px;
}
