.sc-db-layers-title,
.sc-db-layers-wrapper {
  padding: 5px;
}

.sc-db-layers-title {
  font-size: 18px;
  margin: 10px 5px 5px;
  border-bottom: 0.5px solid var(--line-grey);
}

.sc-db-layers-wrapper {
  overflow: scroll;
  flex: 1;
}
