.lg-container {
  text-align: left;
}

.lg-elem {
  margin-bottom: 0.5em;
}

.lg-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 180px;
  padding: 0px 10px;
  font-size: 10px;
}

.lg-row--icon {
  font-size: 12px;
}

.lg-row__title {
  margin-bottom: 5px;
}

.trip-svg {
  height: 20px;
  width: 80%;
}

.st-svg {
  height: 20px;
  width: 11%;
}
